PORT=5001
NODE_ENV=development
MONGO_URI=mongodb://localhost:27017/stocksense
JWT_SECRET=super_secret_jwt_key_stocksense_2026
JWT_EXPIRE=7d

# Email for OTP password reset (Optional during local dev)
EMAIL_SERVICE=gmail
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_app_password
CLIENT_URL=http://localhost:5173
